<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
 <form method="POST">
        {% for item in form %}
            <div>
                {{ item.name }} {{ item }}
                {% if item.errors %}
                    <span style="color: red">
                        {{ item.errors }}
                    </span>
                {% endif %}
            </div>
        {% endfor %}
        <p>
            <input type="submit" value="发送"/>
        </p>
    </form>
</body>
</html>